[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

jedi = "*"
importmagic = "*"
"autopep8" = "*"
yapf = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"


[requires]

python_version = "3.6"
