[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"
sphinx = "*"
pytest-mock = "*"
black = "==18.6b4"

[requires]
python_version = "3.6"
